{% extends 'base.html' %}

{% block title %}New Post{% endblock %}


{% block content %}

    <h2>New Post</h2>
    <form action="/users/{{user_id}}/posts/new" method="POST">
        <label>Title</label>
        <input name="title">
        <label>Content</label>
        <input name="content">
        <br>
        <label>Tags:</label>
        <br>
        {% for tag in tags %}
            <label>{{tag.title}}</label>
            <input type="checkbox" value="{{tag.id}}" name="tags">
        {% endfor %}
        <br>
        <button>Submit Post</button>
    </form>

{% endblock %}