{% extends 'base.html' %}

{% block title %}User Details{% endblock %}


{% block content %}

    <h2>{{user.first_name}} {{user.last_name}}</h2>

    <img src='{{user.image_url}}'>

    <form action="/users/{{user.id}}/edit">
        <button>Edit User</button>
    </form>

    <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete User</button>
    </form>

    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <form action="/users/{{user.id}}/posts/new">
        <button>New Post</button>
    </form>

{% endblock %}